@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web";
}

body {
    background-color: white;
    margin: 10px;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: lightgrey;
    border: 3px solid rgb(108, 189, 236);
    border-radius: 20px;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    font-size: 23px;
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: 3px solid rgb(108, 189, 236);
    border-radius: 5px;
}

section#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border: 3px solid rgb(108, 189, 236);
    border-radius: 
