@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');

* {
    padding: 1px;
    font-family: "Titillium Web";
    margin: 2.5px;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 10px;
}

section#contact {
    border-radius: 5px;
    border: 3px solid rgb(108, 189, 236);
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: lightgrey;
    border: 3px solid rgb(108, 189, 236);
    border-radius: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

nav ul li {
    font-size: 23px;
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid rgb(108, 189, 236);
}

section#hero {
    border-radius: 20px;
    border: 3px solid rgb(108, 189, 236);
    background-color: lightgrey;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#perfil {
    border-radius: 5px;
    border: 3px solid rgb(108, 189, 236);
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

section#informacion {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

.infopersonal, .infolaboral {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border: 7px solid cornflowerblue;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: #070707;
    font-family: "Titillium Web";
    font-size: 3rem;
    text-shadow: 0 0 35px #fff;
}

h2 {
    color: #070707;
    font-family: "Titillium Web";
    font-size: 2rem;
    text-shadow: 0 0 20px #2b2a2a;
}

.projects {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-decoration-color: gray;
    border: 10px solid cornflowerblue;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

section#projects h2 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
    text-decoration: underline gray;
    background-color: #fff;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

.projects-detail {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-decoration-color: gray;
    border: 10px solid cornflowerblue;
    border-radius: 20px;
    width: 300px;
    margin: 20px;
    box-shadow: 3px 3px 30px 5px gray inset;
}

.projects-detail img {
    width: 100%;
}
